## Before You Begin

Recommended steps:
- Save your own copy of this notebook: **File → Save a copy in Drive**.
- Run all cells **from top to bottom**.
- Edit code **only where the instructions indicate**.
- This notebook uses basic Python only; it does not connect to external files or services.
- If something stops working: **Runtime → Restart session**.

# Data Types

In this notebook, you will work with Python’s four primitive data types:
- Integer (`int`)
- Floating-point number (`float`)
- Text (`str`)
- Boolean (`bool`)

You will complete ten beginner-friendly exercises to recognize, create, and operate with these data types.

## 1. Warm-Up Exercise (1 of 10)
### 1.1. Identify the type
Use `type()` to print the data type of the variable `value`.

In [ ]:
value = 15
print(type(___))   # <-- Replace with: value

<details><summary><strong>Solution</strong></summary>

```python
value = 15
print(type(value))
```
</details>

## 2. Core Concepts (Exercises 2–5 of 10)

### 2.1. Create an integer
Create a variable `age` and assign it any integer value.

In [ ]:
age = ___   # Replace with an integer, e.g. 17
print(age)

<details><summary><strong>Solution</strong></summary>

```python
age = 17
print(age)
```
</details>

### 2.2. Create a float
Create a variable `temperature` and assign it a floating-point value such as `20.5`.

In [ ]:
temperature = ___   # Replace with a float, e.g. 20.5
print(temperature)

<details><summary><strong>Solution</strong></summary>

```python
temperature = 20.5
print(temperature)
```
</details>

### 2.3. Create a string
Create a variable `city` containing the name of a city.

In [ ]:
city = ___   # Replace with a city name, e.g. "Monterrey"
print(city)

<details><summary><strong>Solution</strong></summary>

```python
city = "Monterrey"
print(city)
```
</details>

### 2.4. Create a boolean
Create a variable `is_student` and set it to either `True` or `False`.

In [ ]:
is_student = ___   # Replace with: True or False
print(is_student)

<details><summary><strong>Solution</strong></summary>

```python
is_student = True
print(is_student)
```
</details>

## 3. Guided Practice (Exercises 6–8 of 10)

### 3.1. Convert string to integer
Convert the string `"25"` into an integer using `int()` and store it in `num`.

In [ ]:
text_value = "25"
# Convert here:
num = ___
print(num)

<details><summary><strong>Solution</strong></summary>

```python
text_value = "25"
num = int(text_value)
print(num)
```
</details>

### 3.2. Convert integer to string
Convert the integer in `score` into a string using `str()` and store it in `score_text`.

In [ ]:
score = 90
# Convert here:
score_text = ___
print(score_text)

<details><summary><strong>Solution</strong></summary>

```python
score = 90
score_text = str(score)
print(score_text)
```
</details>

### 3.3. Data Type Conversion (Casting)
Define two variables, `price_str` (string) and `quantity_str` (string). Convert them to the correct numerical types (`float` and `int`, respectively) and calculate the final `total` cost.

In [ ]:
price_str = "49.99"
quantity_str = "10"
# Replace here:
total = float(___) * int(___)
print(total)

<details><summary><strong>Solution</strong></summary>

```python
price_str = "49.99"
quantity_str = "10"
total = float(price_str) * int(quantity_str)
print(total)
```
</details>

## 4. Mini-Challenge (Exercises 9–10 of 10)

### 4.1. Mixed data types
Create variables using all four data types (`int`, `float`, `str`, `bool`) and print them in one line.

In [ ]:
a = ___       # Replace with an integer, e.g. 10
b = ___       # Replace with a float, e.g. 3.5
c = ___       # Replace with a string, e.g. "Hello"
d = ___       # Replace with: True or False
print(a, b, c, d)

<details><summary><strong>Solution</strong></summary>

```python
a = 10
b = 3.5
c = "Hello"
d = True
print(a, b, c, d)
```
</details>

### 4.2. Mini-converter program
Write a small program that:
1. Asks the user for their height in meters (string input).
2. Converts it to `float`.
3. Multiplies it by `100`.
4. Prints the height in centimeters.

In [ ]:
height_str = ___       # Replace with: input("Height in meters: ")
height_m = ___         # Replace with: float(height_str)
height_cm = ___        # Replace with: height_m * 100
print(height_cm)

<details><summary><strong>Solution</strong></summary>

```python
height_str = input("Height in meters: ")
height_m = float(height_str)
height_cm = height_m * 100
print(height_cm)
```
</details>

---
## You're done!
You practiced:
- Creating and identifying data types
- Converting between strings, integers, floats, and booleans
- Writing beginner-level code using all four primitive types

Great work! Continue with the next notebook when ready.